.fof {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fof__image {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .fof__image {
    width: 70%;
  }
}

@media only screen and (max-width: 576px) {
  .fof__image {
    width: 80%;
  }
}
