.taskedit__title {
  padding: 1rem;

  margin: 0.6rem;
}

.taskedit__description {
  padding: 1rem;

  margin: 0.6rem;
}

.edit__title {
  margin: 0.6rem;
}

.taskedit__duedate {
  padding: 1rem;

  margin: 0.6rem;
}
