.task {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgb(221, 220, 220);
  padding: 0.8rem;
  cursor: pointer;
}
.task:hover {
  background-color: #f2f5f7;
}

.tasks__card {
  width: 100%;
}

.task__icon {
  background-color: #49ac86;
  padding: 0.6rem;
  border-radius: 0.4rem;
  margin: 0 1rem;
}

.task__date {
  color: #909498;
}

.task__title {
  color: #344564;
  font-weight: 700;
  flex-grow: 2;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task__status {
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 0.4rem;
}

.task__status.active {
  background-color: #96dcc2;
  color: #387e64;
}

.task__status.completed {
  background-color: #e1edf2;
  color: #0651ca;
}

.task__owner {
  color: white;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 0 1rem;
  margin: 0 1rem;
}

.taskList__filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: #f2f5f7;
  border-radius: 10px;
}

.task__search {
  width: 20%;
  margin: 0.8rem;
  padding-left: 0.8rem;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 0.8rem;
}

.task__select {
  width: 20%;
  margin: 0.8rem;
  padding-left: 0.8rem;
  border: none;
  background-color: #f2f5f7;
}

.task__select option {
  padding: 0 0.4rem;
}

@media only screen and (max-width: 768px) {
  .task__icon {
    margin: 0 0.6rem;
  }

  .task__title {
    padding: 0 0.4rem;
  }
  .task__search {
    padding-left: 0.4rem;
  }
}

@media only screen and (max-width: 576px) {
  * {
    font-size: 12px;
  }
}
